/* Replace the code in styles/globals.css with this code below */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 14px;
  color: rgb(70, 69, 69);
}
input,
textarea {
  outline: none;
}
input:is(:focus, :focus-within),
textarea:is(:focus, :focus-within) {
  outline: 1px solid #22d3ee;
}
.form-wrapper {
  height: 100vh;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #22d3ee;
}
h1 {
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
form {
  width: 100%;
  max-width: 600px;
  border-radius: 30px;
  background: #fff;
  margin: 0 auto;
}
.form-inner {
  padding-inline: 40px;
  padding-block: 30px 40px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}
.form-inner textarea {
  resize: none;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #0e7490;
  background: #0891b2;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #0e7490;
  cursor: pointer;
}
